<div class="container">
    <ul class="bar">
      <li>Search</li>
      <div class="line"></div>
    </ul>
    <ng-progress></ng-progress>
    <form (ngSubmit)='findProfile()' #searchForm='ngForm'>
         <div class="form-group">
           <input type="text" class="form-control" placeholder=" Git-Hub username" [(ngModel)] ="username" name="username" (keyup)="findProfile()">
         </div>
       </form>
  <h2 appHighlight>Repos</h2>
  <div class="line1"></div>
      <div class="row">
        <p>Repository name:{{repo?.name}}</p>
      <div class="col">
        <p><a href="{{repo?.html_url}}" class="btn btn-sm btn-primary pull-right">View this Repo</a></p>
      </div>
      <div class="col">
        <p>Repository description:{{repo?.description}}</p>
      </div>
  </div>

  </div>
  <div>
   <button class="home"><a routerLink='/home' routerLinkActive='active'><-- Home</a></button>
  </div>
