ul{
    list-style: none;
}
li{
    text-align: center;
    font-size: 22px;
    color: #fff;
}
h2{
    color: #fff;
    text-align: center;
}
button{
    color: #fff;
    background: none;
    border: 1px solid #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
