/* You can add global styles to this file, and also import other style files */
body{
    background: url("assets/blue.jpg") no-repeat;
    background-position: fixed;
    background-size: 100% 800%;
}